/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby30-x64/lib/ruby/gems/3.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 43, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 48, ../sass/screen.scss */
body {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 61, ../sass/screen.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 67, ../sass/screen.scss */
h1 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

/* line 74, ../sass/screen.scss */
h2 {
  font-weight: bold;
  font-size: 30px;
}

/* line 81, ../sass/screen.scss */
h4 {
  display: none;
}

/* line 86, ../sass/screen.scss */
section {
  padding: 7% 3%;
  display: flex;
}
/* line 97, ../sass/screen.scss */
section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
}
/* line 107, ../sass/screen.scss */
section .column {
  flex: 50%;
  padding-left: 3%;
  max-width: 50%;
}
/* line 117, ../sass/screen.scss */
section .column a {
  background-color: #5656e3;
  border-color: #5656e3;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  color: black;
  text-decoration: none;
}
/* line 123, ../sass/screen.scss */
section .column p {
  line-height: 2;
  margin-bottom: 3%;
}
/* line 130, ../sass/screen.scss */
section .column img {
  max-width: 100%;
}
/* line 142, ../sass/screen.scss */
section .three-column {
  flex: 30%;
  padding: 3%;
  text-align: center;
  max-width: 30%;
}
/* line 150, ../sass/screen.scss */
section .three-column img {
  max-width: 400px;
  max-width: 100%;
}
/* line 159, ../sass/screen.scss */
section ul li {
  padding-right: 15px;
  display: inline-block;
}
/* line 164, ../sass/screen.scss */
section ul li i {
  font-size: 30px;
}

/* line 174, ../sass/screen.scss */
.copyright {
  text-align: center;
}

/* line 184, ../sass/screen.scss */
.first-header, .second-header {
  display: flex;
  flex-direction: row;
}
/* line 189, ../sass/screen.scss */
.first-header div, .second-header div {
  padding: 5px 3%;
  flex: 50%;
}
/* line 194, ../sass/screen.scss */
.first-header div ul li, .second-header div ul li {
  padding-right: 15px;
  display: inline-block;
}
/* line 199, ../sass/screen.scss */
.first-header div ul li i, .second-header div ul li i {
  font-size: 30px;
}
/* line 209, ../sass/screen.scss */
.first-header div:nth-child(2), .second-header div:nth-child(2) {
  text-align: right;
}

/* line 217, ../sass/screen.scss */
#section-main {
  background-image: url(images/images_2.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
/* line 226, ../sass/screen.scss */
#section-main div {
  padding: 8%;
  flex: 60%;
  max-width: 60%;
  line-height: 2;
  max-height: 100%;
  overflow: hidden;
}
/* line 235, ../sass/screen.scss */
#section-main div a:first-of-type {
  background-color: #5656e3;
  border-color: #5656e3;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  color: black;
  text-decoration: none;
}
/* line 241, ../sass/screen.scss */
#section-main div a:nth-child(2n) {
  border-color: #5656e3;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  color: black;
  text-decoration: none;
}

/* line 251, ../sass/screen.scss */
.container {
  position: relative;
  margin: 0 auto;
}
/* line 261, ../sass/screen.scss */
.container .section-gallery .gallery-img {
  max-width: 70%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
/* line 271, ../sass/screen.scss */
.container .section-gallery .gallery-img img {
  max-width: 100%;
}
/* line 283, ../sass/screen.scss */
.container .preview,
.container .next {
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -20%;
  background-color: aqua;
}
/* line 296, ../sass/screen.scss */
.container .next {
  right: 0;
}

@media screen and (max-width: 900px) {
  /* line 305, ../sass/screen.scss */
  section, .row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* line 313, ../sass/screen.scss */
  section .column, .row .column {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
  /* line 320, ../sass/screen.scss */
  section .three-column, .row .three-column {
    flex: 100%;
    max-width: 100%;
  }
  /* line 327, ../sass/screen.scss */
  section a, .row a {
    width: 100%;
  }

  /* line 340, ../sass/screen.scss */
  #section-main div {
    flex: 100%;
    max-width: 100%;
  }

  /* line 363, ../sass/screen.scss */
  .container .section-gallery .gallery-img img {
    max-width: 90%;
  }
}
